.App {
  text-align: center;
}

.todo-app {
  background-color: #efefef;
  padding: 1.2em;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #007bff;
  color: white;
}

.submission-detail {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}
